* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
form {
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
}
form h3{
    text-align: center;
    margin: 10px 0px 20px 0px;
    font-size: 24px;
}
form label{
    display: block;
    padding-bottom: 5px;
}
form input{
    height: 30px;
    padding: 5px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
    outline: none;
}
form button{
    width: 100%;
    height: 30px;
    font-size: 15px;
    background-color: wheat;
    border: none;
    border-radius: 5px;
    margin: 20px 0px 10px 0px;
}
form p{
    font-size: 13px;
    text-align: center; 
}
form p a{
    text-decoration: none;
}


.hideError{
    display: none;
    background-color: rgb(243, 156, 156);
    color: red;
    text-align: left;
    padding-left: 10px;
}


